:host {
  display: flex;
  background-color: var(--background-color3);
  width: 100%;
  box-sizing: border-box;
}
mat-tab-group {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.tab {
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
  background-color: var(--background-color3);
}

.tab .inner {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

@media only screen and (max-width: 600px) {
  .tab {
    padding: 0;
  }
  .tab .inner {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
