<mat-tab-group>
    <mat-tab label="Najnowsze przepisy">
        <div class="tab">
            <div class="inner">
                <app-card [showOption]="showOption"></app-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Artykuły">
        <div class="tab">
            <div class="inner">
                <app-articles-list></app-articles-list>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Porady">
        <div class="tab">
            <div class="inner">
                Dostępne wkrótce...
            </div>
        </div>
    </mat-tab>
</mat-tab-group>