<ng-container *ngIf="filteredRecipes && filteredRecipes.length">
  <div
    *ngFor="let recipe of filteredRecipes"
    class="card"
    (click)="getClicked(recipe.id)"
  >
    <div
      class="img-div"
      [ngStyle]="{
        'background-image': 'url(' + imgLocation + recipe.img + ')'
      }"
    ></div>
    <div class="title padding">{{ recipe.title }}</div>
    <div class="body padding"></div>
    <div class="footer padding">
      <span class="material-symbols-outlined"> pace </span>
      {{ recipe.time }} min
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!filteredRecipes || !filteredRecipes.length">
  <div class="no-recipes">Brak przepisów do wyświetlenia.</div>
</ng-container>
