<nav class="navbar">
  <div class="navbar-logo">
    <img src="assets/images/logo_t.svg" alt="QuFu Logo" />
  </div>
  <div class="navbar-actions">
    <div class="menu">
      <button class="button" [routerLink]="['/']"><span class="material-symbols-outlined">
          home</span> Start</button>
      <button class="button"><span class="material-symbols-outlined">
          trending_up
        </span> Top przepisy</button>
    </div>
  </div>
  <div class="navbar-logpanel">
    <ng-container *ngIf="!logged; else profile">
      <button class="signup">Rejestracja
      </button>
      <button class="login" [routerLink]="['/login']">Logowanie</button>
    </ng-container>
    <ng-template #profile>
      <button class="profile" matTooltip="Twój profil" [routerLink]="['/profile']"><span
          class="material-symbols-outlined">
          account_circle
        </span>{{name}}</button>
      <button matTooltip="Wyloguj" (click)="logout()" class="logout"><span class="material-symbols-outlined">
          logout
        </span></button>
    </ng-template>
  </div>


</nav>