<div *ngIf="!cookStep" class="recipepage box-standard">
  <div (click)="getClickedClose()" class="recipage__close">
    <span class="material-symbols-outlined"> close </span>
  </div>
  <div class="recipepage__main">
    <div class="rating">
      <ng-container *ngIf="recipe && recipe.rating; else noRating">
        <ng-container *ngFor="let star of getStarsArray(recipe.rating)">
          <span class="star">&#9733;</span>
        </ng-container>
        <ng-container *ngFor="let emptyStar of getEmptyStarsArray(recipe.rating)">
          <span class="star">&#9734;</span>
        </ng-container>
      </ng-container>
      <ng-template #noRating>
        <span *ngFor="let star of [1, 2, 3, 4, 5, 6]; let i = index" class="star">&#9734;</span>
        <span class="norating">brak ocen</span>
      </ng-template>
      <span class="vote"><span class="material-symbols-outlined">
          thumb_down
        </span>
        <span class="material-symbols-outlined">
          thumb_up
        </span>
      </span>


    </div>
    <div class="title">
      {{ recipe.title }}
    </div>
    <div class="body">
      {{ recipe.body }}
    </div>
    <hr />
    <div class="ingredients">
      <div class="ingredients-text">Składniki</div>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient }}
        </li>
      </ul>
    </div>
    <div class="time">
      <span class="material-symbols-outlined"> pace </span>
      <div class="time__text">
        Czas przygotowania
        <div class="time__text__min">{{ recipe.time }} min</div>
      </div>
      <!-- <div class="steps">Ilość etapów: {{ recipe.steps.length }}</div> -->
      <button (click)="getClickedStart()">
        Rozpocznij <span class="material-symbols-outlined"> skillet </span>
      </button>
    </div>
  </div>
  <div class="recipepage__img" [ngStyle]="{
      'background-image': 'url(' + imgLocation + recipe.img + ')'
    }"></div>
</div>
<app-cookpage [recipe]="recipe" *ngIf="cookStep"></app-cookpage>