:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  background: rgb(247, 247, 247);
  background: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(255, 246, 246, 1) 34%,
    rgba(254, 234, 223, 1) 44%,
    rgba(247, 247, 247, 1) 44%,
    rgba(255, 255, 255, 1) 44%,
    rgba(255, 255, 255, 1) 100%
  );
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 400px;
  padding: 15px;
  flex-direction: column;
}

.title {
  font-size: 1.8em;
  color: var(--secondary-color);
  font-weight: bold;
}
.title-lower {
  font-size: 1.3em;
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 30px;
}
.button {
  width: 130px;
  padding: 15px;
}
.button_div {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

input {
  width: 90%;
  padding: 13px;
  margin-bottom: 20px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 2px var(--primary-color);
  outline: none;
}

input:focus {
  outline: none;
}
label {
  font-weight: 300;
}
