<div class="box-standard login-box">
    <!-- <div class="logo"><img src="/assets/images/logo_t.svg" alt="logo" srcset=""></div> -->
    <div class="title">
        Zaloguj się</div>
    <div class="title-lower">Wprowadź adres e-mail i hasło</div>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Adres e-mail:</label>
            <input type="email" id="email" name="email" placeholder="wprowadź e-mail" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" placeholder="wprowadź hasło" [(ngModel)]="password"
                required>
            <div class="pass_rem">Zapomniałem hasła</div>
        </div>
        <div class="button_div">
            <button class="button-standard2 button" type="submit">Loguj
                <span class="material-symbols-outlined">
                    login
                </span>
            </button>
        </div>
    </form>

</div>