<div class="box-standard login-box">
    <div class="title">Logowanie</div>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <button class="button-standard button" type="submit">Loguj
            <span class="material-symbols-outlined">
                login
            </span>
        </button>
    </form>

</div>