<div class="box-standard login-box">
    <div class="title">Zaloguj się</div>
    <div class="title-lower">Wprowadź adres e-mail i hasło</div>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Login:</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <div class="button_div">
            <button class="button-standard button" type="submit">Loguj
                <span class="material-symbols-outlined">
                    login
                </span>
            </button>
        </div>
    </form>

</div>