:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 149px);

  background: rgb(247, 247, 247);
  background: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(255, 246, 246, 1) 34%,
    rgba(254, 234, 223, 1) 44%,
    rgba(247, 247, 247, 1) 44%,
    rgba(255, 255, 255, 1) 44%,
    rgba(255, 255, 255, 1) 100%
  );
}
.recipepage {
  width: 70%;
  margin-bottom: 15px;
}

.recipepage .recipage__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  font-size: 1rem;
  color: #fff;
  user-select: none;
  border: solid 2px #fff;
}
.recipepage .recipage__close:hover {
  cursor: pointer;
  background-color: var(--primary-color-hover);
}

@media only screen and (max-width: 900px) {
  :host {
    align-items: flex-start;
  }
  .recipepage {
    align-items: center;
    margin-top: 0;
    padding-left: 0;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }
  .recipepage__main {
  }
  .recipepage__img {
    width: 100%;
    padding-top: 300px;
    border-radius: 0 0 0 0 !important;
  }
  ul {
    font-size: 14px;
  }
}

.recipepage .recipepage__main {
  color: var(--grey-color2);
  line-height: 1.5;
  padding-top: 40px;
  flex: 1;
  margin: 0 10px;
  padding-right: 15px;
  padding-bottom: 40px;
  width: 90%;
  border-radius: 0 0 0 0 !important;
}

.favorite {
  cursor: pointer;
  padding: 15px;
  margin: 10px;
}

.are-favorite {
  background-color: var(--backroung-color4);
  color: var(--primary-color-hover);
  border: solid 2px var(--primary-color);
}
.notLogged-favorite {
  color: var(--background-color3);
  background-color: var(--grey-color3);
}
.recipepage .recipepage__main .norating {
  font-size: 16px;
  color: var(--primary-color-hover);
}

.recipepage .recipepage__main hr {
  color: var(--primary-color);
  margin: 10px 0;
}
.recipepage .recipepage__main .title {
  line-height: normal;
  font-size: 2.3em;
  font-weight: bolder;
  color: var(--secondary-color);
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.recipepage .recipepage__main .ingredients ul {
  list-style: none;
  overflow-x: hidden;
}
.recipepage .recipepage__main .ingredients ul li::marker {
  color: var(--primary-color);
}
ul li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . ";
}

ul span:first-child {
  padding-right: 0.33em;
  background: white;
}

ul span + span {
  float: right;
  padding-left: 0.33em;
  background: white;
}
.portions_and_other {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.share {
  display: flex;
  gap: 10px;
}
.share_button {
  padding: 5px;
}

.recipepage .recipepage__main .portions {
  display: flex;
  align-items: center;
  justify-content: end;
}
.recipepage .recipepage__main .ingredients {
  padding-bottom: 15px;
}
.recipepage .recipepage__main .ingredients .ingredients-text {
  font-size: 1.2em;
  font-weight: bold;
}

.recipepage .recipepage__main .time {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 10px;
  align-items: center;
}
.recipepage .recipepage__main .time span {
  font-size: 48px;
}
.recipepage .recipepage__main .time .time__text {
  font-size: 0.8rem;
  color: var(--grey-color1);
}
.recipepage .recipepage__main .time .time__text .time__text__min {
  font-size: 0.9rem;
  color: var(--grey-color2);
}

.recipepage .recipepage__main .time .time-img {
  width: 32px;
  padding-right: 3px;
}
.recipepage .recipepage__main .button {
  background-color: var(--primary-color);
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 15px;
}
.recipepage .recipepage__main .button img {
  /* font-size: 1rem; */
  vertical-align: bottom;
}
.recipepage .recipepage__main .diff-bar {
  position: relative;
  width: 100%;
  height: 3px;

  background-color: var(--backroung-color4);
  display: flex;
  justify-content: start;
  padding-top: 15px;
  padding-bottom: 30px;
}
.recipepage .recipepage__main .diff-bar .diff-bar__label {
  position: absolute;
  color: var(--grey-color2);
  font-size: 0.9em;
}

.recipepage .recipepage__main .diff-bar .easy {
  width: 33%;
  height: 100%;
  background-color: green;
  border-radius: 50% 0 0 50%;
}
.recipepage .recipepage__main .diff-bar .medium {
  width: 33%;
  height: 100%;
  background-color: orange;
}
.recipepage .recipepage__main .diff-bar .hard {
  width: 33%;
  height: 100%;
  background-color: red;
  border-radius: 0 50% 50% 0;
}
.recipepage .recipepage__main .button:hover {
  cursor: pointer;
  background-color: var(--primary-color-hover);
}
.recipepage .recipepage__img {
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0 10px 10px 0;
}

mat-hint {
  font-size: 0.9em;
}
