@if (!cookStep)
{
<div class="recipepage box-standard">
  <div (click)="getClickedClose()" class="recipage__close">
    <span class="material-symbols-outlined"> close </span>
  </div>
  <div @fade class="recipepage__main">
    <div class="rating">
      <app-star-rating [rating]="recipe.rating"></app-star-rating>
    </div>
    <div class="title">
      {{ recipe.title }}
      @if(isLogged) { @if (!isFavorite){
      <button
        (click)="addFavorite()"
        matTooltip="Dodaj do ulubionych"
        type="button"
        class="button-standard favorite"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      }
      <button
        *ngIf="isFavorite"
        (click)="deleteFavorite()"
        matTooltip="Usuń z ulubionych"
        type="button"
        class="button-standard favorite are-favorite"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      } @else {
      <button
        matTooltip="Musisz być zalogowany"
        [routerLink]="['/login']"
        type="button"
        class="button-standard favorite notLogged-favorite"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      }
    </div>
    <div class="body">
      {{ recipe.body }}
    </div>
    <div class="diff-bar">
      <div class="diff-bar__label">
        Poziom trudności: @if (recipe.difficulty==1) { łatwy }@else if
        (recipe.difficulty==2) { średni }@else if (recipe.difficulty==3) {
        trudny }
      </div>
      @if (recipe.difficulty >= 1) {
      <div class="easy"></div>
      } @if (recipe.difficulty >= 2) {
      <div class="medium"></div>
      } @if (recipe.difficulty == 3) {
      <div class="hard"></div>
      }
    </div>
    <div class="portions_and_other">
      <div class="share">
        <app-share-button type="facebook"></app-share-button>
        <app-share-button type="twitter"></app-share-button>
      </div>

      <div *ngIf="recipe.portions" class="portions">
        <mat-form-field>
          <mat-label>Ilość porcji </mat-label>
          <!-- likwidacja buga w angularze incorrect use of <label for=FORM_ELEMENT>  -->
          <select id="portions" style="display: none"></select>
          <!-- koniec likwidacji -->
          <mat-select id="portions" [(value)]="portions">
            @if(recipe.portions%1!=0){
              @for (multiplier of [1, 2, 3, 4, 5, 6]; track multiplier) {

            <mat-option (click)="multiplierPortions = multiplier"
              value="{{ recipe.portions * multiplier }}"
              >{{ recipe.portions * multiplier }}</mat-option
            >
              }
            } @else {
              @for (multiplier of [1, 2, 3, 4, 5, 6]; track multiplier) {

            <mat-option
              (click)="multiplierPortions = multiplier"
              value="{{ recipe.portions * multiplier }}"
              >{{ recipe.portions * multiplier }}</mat-option>
              }
            }
          </mat-select>
          <mat-hint>Tu wybierz ilość porcji</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="ingredients">
      <div class="ingredients-text">Składniki</div>
      <ul>
        @for (ingredient of recipe.ingredients; track ingredient) {
        <li>
          <span>{{ ingredient[0] }}</span>
          @if (ingredient[1] > 0) {
          <span
            >{{ ingredient[1] * multiplierPortions }} {{ ingredient[2] }}</span
          >
          }
        </li>
        }
      </ul>
    </div>
    <div class="time">
      <span class="material-symbols-outlined"> pace </span>
      <div class="time__text">
        Czas przygotowania
        <div class="time__text__min">{{ recipe.time }} min</div>
      </div>
      <!-- <div class="steps">Ilość etapów: {{ recipe.steps.length }}</div> -->
      <button
        class="button-standard button zoom-fast"
        (click)="getClickedStart()"
      >
        <img src="assets/images/start.svg" /> Rozpocznij
      </button>
    </div>
  </div>
  <div
    class="recipepage__img"
    [ngStyle]="{
      'background-image': 'url(' + imgLocation + recipe.img + ')'
    }"
  ></div>
</div>
}
@if (cookStep) {
<app-cookpage @fade [recipe]="recipe"></app-cookpage>
} @else {
<app-comments [id]="id"></app-comments>
}
