:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 149px);
}

.article {
  width: 70%;
  min-height: 600px;
  padding: 40px;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.addon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  width: 100%;
}

h1 {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 40px;
  padding: 30px 0;
}

h2 {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 10px;
}

h3 {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.content {
  line-height: 1.5;
  font-weight: 300;
  font-size: 20px;
}
.footer {
  padding-bottom: 40px;
  padding: 30px;
}

.img_main {
  min-width: 100%;
  min-height: 400px;
}

@media only screen and (max-width: 600px) {
  .article {
    width: 90%;
    padding: 40px;
  }
}
