@if(article) {
<div @fade class="article">
  <app-back-button where="/" color="light"></app-back-button>
  @if(article.image_path){
  <div
    class="img_main zoom-background-img"
    [ngStyle]="{
      'background-image':
        'url(\'../../../../../assets/images/uploads/' +
        article.image_path +
        '\')'
    }"
  ></div>
  }
  <div class="title">
    <h1>{{ article.title }}</h1>
  </div>
  <div class="content">
    <app-content-view [content]="article.content"></app-content-view>
  </div>
  <div class="footer">{{ article.author }}</div>
  <div class="addon">
    <div class="tags">
      <mat-chip-set
        class="example-chip"
        cdkDropList
        cdkDropListOrientation="horizontal"
      >
        @if(article.tags.length>1){ @for (tag of article.tags.split(' '); track
        tag) { @if (tag.length>1) {
        <mat-chip class="example-box" cdkDrag>{{ tag }}</mat-chip>
        } } }
      </mat-chip-set>
    </div>
    <app-share-button type="facebook"></app-share-button>
    <app-share-button type="twitter"></app-share-button>
  </div>
</div>

}
