:host {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
img {
  max-width: 300px;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.location {
  width: 100%;
}

.file {
  width: 100%;
}
