@if(files) {
@if(type=='images') {
<div class="img-div">
    <div class="title">{{title}}</div>
    <div class="desc">{{files}}</div>
    <button class="button-standard2 button-padding button" (click)="changeFile()">
        <mat-icon>folder_open</mat-icon> &nbsp;Zmień plik</button>
    <img src="{{mainLocation}}{{location}}{{files}}" alt="{{files}}">
</div>
}
} @else {
<div class="noimg-div">
    <div class="title">{{title}}</div>
    <div class="desc">Brak pliku</div>
    <button class="button-standard2 button-padding button" matTooltip="Wybierz plik" (click)="changeFile()"><mat-icon>
            add
        </mat-icon></button>
    <img ngSrc="../../../../assets/images/noimg.png" alt="noimg" height="600" width="600">
</div>
}
