:host {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.img-div {
  position: relative;
}
.noimg-div {
  position: relative;
}
img {
  max-width: 300px;
}

.desc {
  background-color: var(--secondary-color);
  color: var(--background-color3);
  padding: 5px 15px;
  position: absolute;
  user-select: none;
}

.button {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-20%, -50%);
}
.title {
  font-weight: bold;
  font-size: 1.2em;
}

.location {
  width: 100%;
}

.file {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  :host {
    flex-direction: column;
  }
}
