<div class="box-primary">
  <mat-card *ngIf="profile" class="box-standard box-profile">
    <div class="icon">
      <span class="material-symbols-outlined">
        <button matTooltip="Edycja dostępna wkrótce" class="button-standard button-edit">
          Edytuj
        </button>
        account_circle
      </span>
    </div>
    <div class="title">Profil:</div>
    <div class="name">{{ profile[0].name }}</div>
    <div class="email">{{ profile[0].email }}</div>
  </mat-card>
  <mat-card class="box-standard box-recipe">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title"> Ulubione </mat-panel-title>
          <mat-panel-description class="mat-expansion-panel-header-description">
            <ng-container *ngIf="favorite; else emptyFavorite">Ilość ulubionych przepisów: {{ favorite.length
              }}</ng-container>
            <ng-template #emptyFavorite>Nie masz jeszcze ulubionych</ng-template>
            <mat-icon class="fav">favorite</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container *ngIf="favorite">
          @for (favoriteRecipe of favorite; track favoriteRecipe) {
          <div class="div-favorite">
            <div class="div-favorite__left">
              <div [routerLink]="['/id', favoriteRecipe.id]" [style.backgroundImage]="
                  safeImageUrl(imgLocation + favoriteRecipe.id)
                " class="list-img"></div>
            </div>
            <div class="div-favorite__right">
              <div class="div-favorite__title" [routerLink]="['/id', favoriteRecipe.id]">
                {{ favoriteRecipe.title }}
              </div>
              <mat-icon (click)="deleteFavorite(favoriteRecipe.id)" matTooltip="Usuń z ulubionych"
                class="deleteIcon">delete</mat-icon>
            </div>
          </div>
          }
        </ng-container>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            Oceny i komentarze
          </mat-panel-title>
          <mat-panel-description class="mat-expansion-panel-header-description">
            Twoje oceny i komentarze
            <mat-icon class="reviews">mark_unread_chat_alt</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container *ngIf="profile">
          @for (comment of profile[0].comments; track comment) {
          <div id="comment_{{ comment.id }}" class="div-comment">
            <div [routerLink]="['/id', comment.recipe_id]" [style.backgroundImage]="
                safeImageUrl(imgLocation + comment.recipe_id)
              " class="list-img"></div>
            <div class="list-text">
              <div class="list-date_time">
                {{ comment.date_time | date : "d.MM.yyyy, H:mm" }}
              </div>
              <div class="list-rating">
                <app-star-rating [rating]="comment.rating"></app-star-rating>
                <mat-icon (click)="deleteComment(comment.id)" matTooltip="Usuń wpis"
                  class="deleteIcon">delete</mat-icon>
              </div>
              <div class="list-comment">
                {{ comment.comment }}
              </div>
            </div>
          </div>
          }
        </ng-container>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title"> Wiadomości </mat-panel-title>
          <mat-panel-description class="mat-expansion-panel-header-description">
            Twoje wiadomości
            <mat-icon>mail</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Brak wiadomości</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>