<h2 mat-dialog-title>{{data.title}}</h2>
@if (data.icon==='success'){
<div  class="swal-icon swal-icon--success">
    <span class="swal-icon--success__line swal-icon--success__line--long"></span>
    <span class="swal-icon--success__line swal-icon--success__line--tip"></span>
    <div class="swal-icon--success__ring"></div>
    <div class="swal-icon--success__hide-corners"></div>
</div>
}
<mat-dialog-content>{{data.body}}</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="button-standard2 button-close" mat-dialog-close>{{data.button}}</button>
</mat-dialog-actions>
