:host {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.circular-timer {
  width: 200px;
  height: 200px;
}

.circular-timer svg {
  width: 100%;
  height: 100%;
}

.circular-timer circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 1s linear;
}

.circular-timer text {
  fill: #000;
}
