* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #e56b6f;
  --primary-color-hover: #cf595d;
  --secondary-color: #355070;
  --accent-color: #b56576;
  --background-color: #feeadf;
  --background-color2: #eaac8b;
  --background-color3: #f7f7f7;
  --background-color4: #fff2eb;
  --grey-color1: #808080;
  --grey-color2: #363636;
}
/* You can add global styles to this file, and also import other style files */
body {
  background: var(--background-color3);
  font-family: "Roboto Light", "Roboto Medium", "Roboto";
}

.box-standard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  background-color: #fff;
  border: solid 1px rgb(232, 232, 232);
  border-radius: 10px;
  box-shadow: 0px 4px 6px 0px rgb(0, 0, 0, 0.1);
}

.button-standard {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-color);
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  border: none;
  transition: all 0.2s;
}

.button-standard:hover {
  cursor: pointer;
  background-color: var(--primary-color-hover);
  transition: all 0.2s;
}
.button-standard2 {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--secondary-color);
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  border: none;
  transition: all 0.2s;
}
.button-standard2:hover {
  cursor: pointer;
  background-color: var(--primary-color-hover);
  transition: all 0.2s;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
