<div class="editor">
    <div class="title_author">
        <mat-form-field class="title">
            <mat-label>Tytuł</mat-label>
            <input matInput type="text" [(ngModel)]="title">
        </mat-form-field>
        <mat-form-field class="author">
            <mat-label>Autor</mat-label>
            <input matInput type="text" [(ngModel)]="author">
        </mat-form-field>
        <mat-form-field class="date">
            <mat-label>Data</mat-label>
            <input matInput [(ngModel)]="date" [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <app-editor [html]="content" (newHTML)="onChangeContent($event)"></app-editor>
    <app-show-files (filesEvent)="onChangeFile($event)" title="Wybierz główny obrazek" type="images"
        [location]="'images/uploads/articles/'" [files]="img"></app-show-files>
    <div class="tags-save-div">
        <mat-form-field class="tags-div">
            <mat-label>Tagi</mat-label>
            <mat-chip-grid #chipGrid aria-label="Enter fruits">
                @if(tags.length>1){
                @for (tag of tags.split(' '); track tag) {
                @if(tag.length>1){
                <mat-chip-row (removed)="removeTag(tag)" [aria-description]="'press enter to edit ' + tag">
                    {{tag}}
                    <button matChipRemove [attr.aria-label]="'Usuń ' + tag">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                }
                }
                }
                <input placeholder="Nowy tag..." [matChipInputFor]="chipGrid" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addTag($event)" />
            </mat-chip-grid>
        </mat-form-field>
        @if(id){
        <a [href]="'/article/'+id" target="_blank" class="button-standard2 button"><mat-icon>visibility</mat-icon></a>

        <button class="button-standard button" (click)="save()"><mat-icon>edit_square</mat-icon>
            Zaktualizuj</button>
        } @else {
        <button class="button-standard button" (click)="save()"><mat-icon>add</mat-icon> Dodaj</button>
        }

    </div>
</div>