<ng-container *ngIf="filteredRecipes && filteredRecipes.length">
  <mat-card [routerLink]="['/id', recipe.id]" *ngFor="let recipe of filteredRecipes" class="card zoom-default">
    <div class="img-div" [ngStyle]="{
        'background-image': 'url(' + imgLocation + recipe.img + ')'
      }"></div>
    <div class="diff-bar">
      <div class="easy"></div>
      <div *ngIf="recipe.difficulty>=2" class="medium"></div>
      <div *ngIf="recipe.difficulty==3" class="hard"></div>
    </div>
    <div class="title padding">{{ recipe.title }}</div>
    <div class="body padding"></div>
    <div class="footer">
      <span class="material-symbols-outlined"> pace </span>
      {{ recipe.time }} min
    </div>
  </mat-card>
</ng-container>
<ng-container *ngIf="!filteredRecipes || !filteredRecipes.length">
  <div class="no-recipes">Brak przepisów do wyświetlenia.</div>
</ng-container>
<ng-container *ngIf="searchcount>0">
  <mat-paginator class="recipe-paginator" [length]="searchcount" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Strona" #paginator [pageIndex]="currentPage" (page)="getPaginatorData($event)">
  </mat-paginator>
</ng-container>