<mat-card
  *ngIf="!isLogged; else alredyLoggedDiv"
  class="box-standard register-box"
>
  <!-- <div class="logo"><img src="/assets/images/logo_t.svg" alt="logo" srcset=""></div> -->
  <div class="title">Zarejestruj się</div>
  <div class="title-lower">
    <ng-container *ngIf="!errorMessage">Wypełnij pola</ng-container>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </div>

  <form (ngSubmit)="register()">
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Adres e-mail:</mat-label>
        <input
          type="email"
          matInput
          [formControl]="email"
          id="email"
          name="email"
          (onkeyup)="errorMessage = ''"
          placeholder="wprowadź e-mail"
          required
        />
        @if (email.hasError('email') && !email.hasError('required')) {
        <mat-error class="label">Nieprawidłowy adres e-mail</mat-error>
        } @if (email.hasError('required')) {
        <mat-error class="label"
          >e-mail jest <strong>wymagany</strong></mat-error
        >
        }
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Hasło:</mat-label>
        <input
          type="password"
          matInput
          id="password"
          name="password"
          placeholder="wprowadź hasło"
          [formControl]="password"
          required
        />
        @if (password.hasError('required')) {
        <mat-error class="label"
          >hasło jest <strong>wymagane</strong></mat-error
        >
        }
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Imię:</mat-label>
        <input
          type="text"
          matInput
          id="name"
          name="name"
          placeholder="wprowadź imię"
          [formControl]="name"
          required
        />
        @if (name.hasError('required')) {
        <mat-error class="label">imię jest <strong>wymagane</strong></mat-error>
        }
      </mat-form-field>
    </div>
    <div class="button_div">
      <button
        [disabled]="
          email.hasError('email') ||
          password.hasError('required') ||
          name.hasError('required')
        "
        class="button-standard2 button"
        type="submit"
      >
        <mat-icon>person_add</mat-icon> Rejestruj
      </button>
    </div>
  </form>
</mat-card>

<ng-template #alredyLoggedDiv>
  <div class="box-standard register-box">
    <div class="title">jesteś już zalogowany</div>
  </div>
</ng-template>
